[chain]
id=0x0000000000000001
shard_id=0x0000000000000000
name=support
load_priority=1
# Possible values [token, emission, transaction, ca] 
datum_types=[token,emission,ca,transaction]
mempool_auto_types=[transaction]
consensus=dag_poa

[files]
storage_dir=/opt/cellframe-node/var/lib/network/subzero/support/

[dag]
is_single_line=true
is_celled=false
is_add_directly=true
datum_add_hashes_count=1

is_static_genesis_event=true
static_genesis_event=0xA2A605B6B147A07AB057F6F1304DCFB7387703F15845B5957FB9E390F9507893

[dag-poa]
auth_certs_prefix=subzero.cellframe.root
auth_certs_number=5
auth_certs_number_verify=1
auth_certs_dir=/opt/cellframe-node/share/ca
