[submodule "python-cellframe"]
	path = python-cellframe
	url = ../python-cellframe.git
	branch = develop
[submodule "cellframe-sdk"]
	path = cellframe-sdk
	url = ../cellframe-sdk.git
	branch = develop
[submodule "prod_build"]
	path = prod_build
	url = ../prod_build_cellframe-node.git
[submodule "dap-sdk"]
	path = dap-sdk
	url = ../../dap/dap-sdk.git
	branch = develop
