variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_UPDATE_FLAGS: --force

stages:
    - build
    - deploy

.ci-polygon:
  tags:
     - ci-polygon
  
.build:  
  extends: .ci-polygon
  stage: build
  timeout: 3 hours 30 minutes
  dependencies: []
  artifacts:
    paths:
      - build_*/*.deb

.deploy:
  extends: .ci-polygon
  image: demlabs/amd64/debian-buster:linuxbuilder
  stage: deploy
  before_script: /opt/buildtools/prepare_environment.sh 

.windows-amd64:
    extends: .build
    image: demlabs/amd64/debian-bullseye:windowsbuilder
    before_script: /opt/buildtools/prepare_environment.sh amd64-linux
    script:
      - ./prod_build/build.sh --target windows release

.macos-amd64:
    extends: .build
    image: demlabs/amd64/debian-bullseye:osxbuilder
    before_script: /opt/buildtools/prepare_environment.sh amd64-osx
    script:
      - ./prod_build/build.sh --target osx release
      - ./prod_build/pack.sh --target osx release --sign /opt/buildtools/sign/macos/demlabs.sh
    artifacts:
      paths:
        - build_*/*.pkg

linux-amd64-debian-buster-dbg:
    extends: .build
    image: demlabs/amd64/debian-buster:linuxbuilder-pqlr
    before_script: /opt/buildtools/prepare_environment.sh amd64-linux
    script:
      - ./prod_build/build.sh --target linux debug -DBUILD_WITH_PYTHON_ENV=ON
      - ./prod_build/pack.sh --target linux debug

linux-amd64-debian-buster-rwd:
    extends: .build
    image: demlabs/amd64/debian-buster:linuxbuilder-pqlr
    before_script: /opt/buildtools/prepare_environment.sh amd64-linux
    script:
      - ./prod_build/build.sh --target linux rwd -DBUILD_WITH_PYTHON_ENV=ON
      - ./prod_build/pack.sh --target linux rwd

linux-amd64-debian-buster:
    extends: .build
    image: demlabs/amd64/debian-buster:linuxbuilder-pqlr
    before_script: /opt/buildtools/prepare_environment.sh amd64-linux
    script: 
      - ./prod_build/build.sh --target linux release -DBUILD_WITH_PYTHON_ENV=ON
      - ./prod_build/pack.sh --target linux release

.linux-armhf-debian-bullseye:
    extends: .build
    image: demlabs/arm32v7/debian-bullseye:linuxbuilder

    before_script: /opt/buildtools/prepare_environment.sh armhf-linux
    script: 
      - ./prod_build/build.sh --target linux release
      - ./prod_build/pack.sh --target linux release

.linux-arm64-debian-bullseye:
    extends: .build
    image: demlabs/arm64v8/debian-bullseye:linuxbuilder
    before_script: /opt/buildtools/prepare_environment.sh arm64-linux
    script: 
      - ./prod_build/build.sh --target linux release
      - ./prod_build/pack.sh --target linux release
  

deploy:
  extends: .deploy
  needs: 
    - linux-amd64-debian-buster 
    - linux-amd64-debian-buster-dbg
    - linux-amd64-debian-buster-rwd
   
  script: 
    - anybadge -l "node version" -v "$(source version.mk; echo "$VERSION_MAJOR.$VERSION_MINOR.$VERSION_PATCH")" -f node-version-badge.svg -c blue
    - /opt/buildtools/deploy_files.sh pub_cellframe linux/cellframe-node/$CI_COMMIT_REF_NAME/ ./node-version-badge.svg || true
    - /opt/buildtools/deploy_files.sh pub_cellframe linux/cellframe-node/$CI_COMMIT_REF_NAME/ build_*/*.deb 
    - /opt/buildtools/deploy_files.sh pub_cellframe linux/cellframe-node/$CI_COMMIT_REF_NAME/  build_linux_release/*-amd64.deb --redirect-from linux/cellframe-node/$CI_COMMIT_REF_NAME/latest-amd64 --just-redirect    


