Package: ultrapad
Source: sapnet-client
Version: 5.9-37
Architecture: i386
Maintainer: support <support@ncodedcommunications.com>
Installed-Size: 6075
Depends: psmisc, menu, net-tools, libc6 (>= 2.15), libcurl3-gnutls (>= 7.16.2), libgcc1 (>= 1:4.2), libgl1, libqt5core5a (>= 5.11.0~rc1), libqt5gui5 (>= 5.8.0), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.11.0~rc1), libqt5xml5 (>= 5.0.2), libstdc++6 (>= 5)
Replaces: UltraPAD
Section: unknown
Priority: optional
Homepage: https://ncodedcommunications.com
Description: UltraPAD
 Crossplatform VPN Application
