[submodule "cellframe-sdk"]
	path = cellframe-sdk
	url = ../cellframe-sdk
	branch = master
[submodule "dists/python-modules/pycfhelpers"]
	path = dists/python-modules/pycfhelpers
	url = https://gitlab.demlabs.net/cellframe/python-cellframe-modules/pycfhelpers.git
[submodule "dists/python-modules/pycftools"]
	path = dists/python-modules/pycftools
	url = https://gitlab.demlabs.net/cellframe/python-cellframe-modules/pycftools.git
