Package: ultrapad-dbgsym
Source: sapnet-client
Version: 5.9-37
Auto-Built-Package: debug-symbols
Architecture: i386
Maintainer: support <support@ncodedcommunications.com>
Installed-Size: 12620
Depends: ultrapad (= 5.9-37)
Section: debug
Priority: optional
Description: debug symbols for ultrapad
Build-Ids: 8dee3c803238884547a28dae9d2cc1a59220d896 e9d92f93a53d9cbe6f848e5aad91c22107acecd3
