#!/bin/bash
# Start/stop the UltraPadService daemon.
#
### BEGIN INIT INFO
# Provides:          ultrapadservice
# Required-Start:    $syslog $time
# Required-Stop:     $syslog $time
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: UltraPadService running tool.
# Description:       UltraPadService running tool.
### END INIT INFO


#LSBNAMES='-l'  # Uncomment for LSB name support in /etc/cron.d/

. /lib/lsb/init-functions

if [ ! -d "/opt/sap/UltraPAD/run" ]; then
  # by user UltraPAD
  #sudo -H -u UltraPAD mkdir -p /opt/sap/ultrapad/run
  sudo mkdir -p /opt/sap/ultrapad/run
fi
if [ ! -d "/opt/sap/UltraPAD/log" ]; then
  # by user UltraPAD
  #sudo -H -u UltraPAD mkdir -p /opt/sap/ultrapad/log
  sudo mkdir -pm 777 /opt/sap/ultrapad/log
fi

case "$1" in
    start)
	log_begin_msg "Starting UltraPadService..."
    # Comented until we use root user.
    #sudo chown UltraPAD /sys/class/dmi/id/product_uuid
        #sudo -H -u UltraPAD /opt/sap/UltraPAD/bin/UltraPadService >>/opt/sap/UltraPAD/log/ultrapadservice.log 2>opt/sap/UltraPAD/log/ultrapadservice.log.err&
        sudo /opt/sap/ultrapad/bin/UltraPadService&
	log_end_msg $?
    ;;
    stop)

	log_begin_msg "Stopping UltraPadService..."
        killall UltraPadService
	log_end_msg 0
    ;;
     restart|force-reload)
	log_begin_msg "Restarting UltraPadService..."
	service ultrapadservice stop
    service ultrapadservice start
	log_end_msg $?
    ;;
    *)
	log_success_msg "Usage: /etc/init.d/ultrapadservice {start|stop|restart|force-reload}"
	exit 1
esac

exit 0
